:root{
    --silk-gold: #f9d84b;
    --tangerine: #fe5416;
    --charcoal: #28283d;

    --void-black: #262626;
    --bright-lavender: #b287fd;
    --lime-green: #bfff0a;
    --raisin-black: #212121;
    --lavender-mist: #eae1ff;

    --dark-void: #151419;
    --liquid-lava: #f56f10;

    --lime-zest: #b1fa63;
    --forest-night: #243837;
    --sunset-glow: #fe7733;
    --cosmic-blue: #b2a1ff;

    --slate-blue: #5546ff;
    --hot-pink: #ff7bca; 
}