.swiper-pagination-bullet{
    background-color: var(--lime-green) !important;
    transition: 0.5s !important;
    opacity: 0.3 !important;
}

.swiper-pagination-bullet-active{
    background-color: var(--lime-green) !important;
    width: 20px !important;
    border-radius: 10px !important;
    opacity: 1 !important;
}

